

<div class="row">
  <div class="col-md-4">
    <br>
    <h1>Hello, I'm Kayli.</h1>

    <br>
    <p>
       I'm a full stack web developer that utilizes creative problem solving and clean aesthetics to optimize user experience. I come from a background in animal sciences and visual arts, which influences my ability to quickly pick up technical concepts while also incorporating a keen sense of design.
    </p><br>
  
    <h4>Technical Skills:</h4>

    <p>
    Languages: Javascript, Ruby, HTML5, CSS3 <br>
    Web-Application Frameworks: Node.js + Express, Rails <br>
    Front-End Frameworks: Angular.js, React.js <br>
    Front-End Libraries: jQuery, Bootstrap <br>
    Databases: PostgreSQL, MongoDB, Sequelize <br>
    Version Control: Git and GitHub <br>
    Web Design: Adobe Photoshop, InDesign, Illustrator, Lightroom <br>
  </br>


    <h4>Education:</h4>
    <p>
    General Assembly, Los Angeles - September 2016<br>
    Web Development Immersive Certificate of Completion<br>
    <br>
    University of California, Davis - July 2015<br>
    Bachelor of Science, Animal Science<br>
  </p>

  </div>
  <div class="col-md-4">
    <img src="images/me.jpg" class="img-rounded">
  </div>
</div>
