<div class="row">
  <div class="col-md-4">
    <br>
    <h1>
    Hello,
    </h1>
    <br>
    <p>
      I'm Kayli, currently a Web Development Immersive student at the General Assembly Los Angeles, CA.
    </p>

    <br>

    <p>
    My goal is to help craft digital solutions and build thoughtful websites through code. I take photos as a hobby, and anticipate building sites that allow me to combine my skills in visual arts.
    </p>

    <br>
    <p>
    Technical Skills:<br>
  </p>

    <p>
    Languages: Javascript, Ruby, HTML5, CSS3 <br>
    Web-Application Frameworks: Node.js + Express, Rails <br>
    Front-End Frameworks: Angular <br>
    Front-End Libraries: jQuery, Bootstrap <br>
    Databases: PostgreSQL, MongoDB <br>
    Version Control: Git and GitHub <br>
    Web Design: Adobe Photoshop, InDesign, Illustrator, Lightroom <br>
  </br>

  </div>
  <div class="col-md-4">
    <img src="images/me.jpg" class="img-rounded">
  </div>
