<center><h1>THAILAND SERIES</h1></center>

<p id="thailand">In 2015 I was given the wonderful opportunity to volunteer abroad in the small village of Surin, Thailand to help rehabilitated elephants and learn about the abuse they face in the tourism industry. Through still photography, I told the story of the political trade-offs faced by villagers in the elephant tourism industry, as well as the impact on the elephants themselves, while I was also creating a video highlighting the challenges and experiences volunteers encountered during the program. My work was recognized by ISV and published on social media platforms to inspire prospective travelers to volunteer abroad. Here are some highlights: </p>
<div id="gallery" ng-controller="peopleController">
  <div id="albumImage">
    <img ng-src="{{currentImage.image}}" alt="currentImage.description">
  </div>

  <div id="thumbWrapper">
    <ul id="thumbList">
      <li ng-repeat="image in images" ng-click="setCurrentImage(image)">
        <img ng-src="{{image.thumbnail}}" alt="{{image.description}}">
      </li>
    </ul>
  </div>
</div>

<div><center><p>More to come...</p></center></div>
