<div class="row">
  <div class="col-md-4">
<img src="images/gardenparty.png" class="macbook">
</div>
<div class="col-md-4">
  <div class="description">
    <h2><a target="_blank" href="https://kaylinishime.github.io/Garden-Party-Project-1/">Garden Party</a></h2>
    A simple gardening game catered towards younger age groups to practice adding and subtracting. For each level, the user must reach a given score goal before time runs out. This was my first project, built in a 1 week sprint using HTML, CSS, Bootstrap, Javascript, and jQuery for DOM manipulation.<br/>
    <br/>
    <div class="chip">
    <img src="images/css3.png" alt="Person" width="96" height="96">
    CSS3
    </div>
    <div class="chip">
    <img src="images/html5.png" alt="Person" width="96" height="96">
    HTML5
    </div>
    <div class="chip">
    <img src="images/javascript_1.png" alt="Person" width="96" height="96">
    Javascript
    </div>
    <div class="chip">
    <img src="images/jquery_logo.png" alt="Person" width="96" height="96">
    jQuery
    </div>
    <div class="chip">
    <img src="images/bootstrap.png" alt="Person" width="96" height="96">
    Bootstrap
    </div>

  </div>
</div>

<div class="col-md-4">
<img src="images/ascendla.png" class="macbook2">
</div>
<div class="col-md-4">
<div class="description2">
  <h2><a target="_blank" href="https://dry-sands-30553.herokuapp.com/">Ascend LA</a></h2>
  Ascend LA is a database of hikes in Los Angeles, CA where users can create an account, search hikes, post reviews, and photos in their personal gallery. It utilizes the Googlemaps API to view trail locations. This app was built using Ruby on Rails and data models were built on PostgresSQL.<br/>
  <br/>
  <div class="chip">
  <img src="images/css3.png" alt="Person" width="96" height="96">
  CSS3
  </div>
  <div class="chip">
  <img src="images/html5.png" alt="Person" width="96" height="96">
  HTML5
  </div>
  <div class="chip">
  <img src="images/ruby.png" alt="Person" width="96" height="96">
  Ruby
  </div>
  <div class="chip">
  <img src="images/ror.png" alt="Person" width="96" height="96">
  Ruby on Rails
  </div>
  <div class="chip">
  <img src="images/postgresql.png" alt="Person" width="96" height="96">
  PostgresSQL
  </div>


</div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
<img src="images/lecloset.png" class="macbook">
</div>
<div class="col-md-4">
  <div class="description">
    <h2><a target="_blank" href="https://fierce-river-25388.herokuapp.com">Le Closet</a></h2>
    Shop online and search products from your favorite retailers all in one place. A user can conveniently create a virtual shopping cart, or "closet", to save products and make purchases. As Project Lead, I managed team collaboration using Git, GitHub and team work-flow. This app was build in Node.js and utilized MongoDB database. We used the Shopstyle API along with asynchronous AJAX calls and Google OAuth for authentification.<br/>
    <br/>

    <div class="chip">
    <img src="images/nodejs_small.png" alt="Person" width="96" height="96">
    Node.js
    </div>
    <div class="chip">
    <img src="images/mongodb.png" alt="Person" width="96" height="96">
    MongoDB
    </div>
    <div class="chip">
    <img src="images/css3.png" alt="Person" width="96" height="96">
    CSS3
    </div>
    <div class="chip">
    <img src="images/html5.png" alt="Person" width="96" height="96">
    HTML5
    </div>
    <div class="chip">
    <img src="images/javascript_1.png" alt="Person" width="96" height="96">
    Javascript
    </div>
    <div class="chip">
    <img src="images/jquery_logo.png" alt="Person" width="96" height="96">
    jQuery
    </div>





  </div>
</div>


</div>
